@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: "Poppins", sans-serif;
    background-color: #0f0f0f;
}
.container {
    max-width: 1960px;
    margin: 0 auto;
}
.header {
    background-image: url(Imagen/Fondo.jpg);
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color:#040404;
    border-bottom: 1px solid #FFFFFF29;
}
.logo{
    color: #a70a15;
    font-size: 25px;
    font-weight: 800;
    margin-left: 35px;
}
.menu .navbar ul li  {
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFFFF;
    display: block;
}
.menu .navbar ul li a:hover{
    color: #E1160D;
}
#menu{
    display: none;
}
.menu-icono {
    width: 25px;
}
.menu label {
    display: none;
    cursor: pointer;
}
.header-info h1 {
    color: #E1160D;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 1px;
}
.header-info p {
    color: #ffffff;
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 35px;
}

.header-info ul{
    color: #ffffff;
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 35px;
}


.btn-1{
    display: inline-block;
    padding: 10px 35px;
    border-radius: 10px;
    background-color: #E1160D;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
}
.btn-1:hover{
    background-color: #a70a15;
}
.gym {
    padding: 100px 0;
    display: flex;
    align-items: center;
}
.gym-1 {
    width: 50%;
    padding-right: 150px;
}
.gym-1 h2 {
    font-size: 30px;
    color: #E1160D;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin-bottom: 35px;
}
.gym-1 p {
    font-size: 16px;
    color: #818181;
    margin-bottom: 35px;
    margin-left: 50px;
    text-align: justify;
}
.gym-1 span {
    color: #a70a15;
    margin-left: 50px;
}
.btn-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 8px 45px;
    border-radius: 28px;
    background-color: #E1160D;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    margin-left: 50px;
}
.btn-2:hover {
    background-color: #a70a15;
}
.img-1, .img-2 {
    width: 150px;
    margin-right: 30px;
    margin-left: 30px;
}


.footer {
    border-top: 1px solid #ffffff29;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    background-color: #040404;
}
.footer h3{
    color: #a70a15;
    font-size: 25px;
    font-weight: 800px;
    margin-left: 35px;
}
.links ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.links ul li {
    margin-right: 35px;
    display: inline-block;
}
.links ul li a {
    color: #818181;
}
.social-link:hover {
    color: #a70a15;
    filter: opacity(0.7);
}
.social-link.instagram {
    background-image: url("Imagen/L.Instagran.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    padding: 30px; 
    text-indent: -9999px; 
}
.social-link.TikTok {
    background-image: url("Imagen/L.TikTok.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    padding: 30px;
    text-indent: -9999px; 
}
.social-link.facebook {
    background-image: url("Imagen/L.Facebook.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    padding: 30px;
    text-indent: -9999px; /* Oculta el texto */
}
.content h2{
    color: #E1160D;
}
@media(max-width:991px) {
    .menu {
        padding: 20px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #303030;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header-content{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }

    .header-info h1 {
        font-size: 50px ;
        margin-bottom: 5px;
    }

    .gym{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px;
    }

    .gym-1 {
        width: 100%;
        padding: 0;
        order: 1;
    }

    .gym-1 h2 {
        margin-bottom: 15px;
    }

    .btn-2 {
        margin-bottom: 35px;

    }

    .gym-2 {
        order: 2;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .img-1, .img-2 {
        margin: 0 0 20px 0;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer h3 {
        margin-bottom: 15px;
    }

    .links ul li {
        margin: 0 10px;
    }

    .links ul {
        flex-direction:row;
        gap: 10px;
    }

    .social-link {
        font-size: 0; 
    }

}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    font-weight: bold;
    color: #E1160D;
}

form input[type="text"], form input[type="email"], form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 14px;
}

form input[type="submit"] {
    padding: 10px 20px;
    background-color: #E1160D;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 20px;
}

form input[type="submit"]:hover {
    background-color: #E1160D;
}

@media(min-width:601px){
    .social-link.instagram, 
    .social-link.TikTok, 
    .social-link.facebook {
        background-image: none; 
        padding: 10px; 
        font-size: 18px; 
    }
}